<template>
  <form class="edit-foe">
    <v-text-field
      :value="foe.name"
      :rules="nameRules"
      :counter="nameLimit"
      label="Name"
      required
      clearable
      @change="foe.$update({ name: $event })"
    />
    <v-container
      fluid
      class="pa-0"
    >
      <v-row>
        <v-col
          cols="12"
          sm="6"
          lg="3"
        >
          <v-select
            :value="foe.cr"
            :items="crs"
            label="CR"
            thumb-label="always"
            required
            @change="foe.$update({ cr: $event })"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
          lg="3"
        >
          <v-text-field
            :value="foe.maxHitPoints"
            label="Max HP"
            type="number"
            required
            @change="foe.$update({ maxHitPoints: $event })"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
          lg="3"
        >
          <v-text-field
            :value="foe.initMod"
            label="Initiative"
            type="number"
            required
            @change="foe.$update({ initMod: $event })"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
          lg="3"
        >
          <v-text-field
            :value="foe.armorClass"
            label="AC"
            type="number"
            required
            @change="foe.$update({ armorClass: $event })"
          />
        </v-col>
      </v-row>
    </v-container>
    <v-combobox
      :value="foe.tags"
      :items="tags"
      label="Tags"
      multiple
      small-chips
      deletable-chips
      hide-selected
      @change="updateTags(foe, $event)"
    />
    <v-textarea
      :value="foe.notes"
      :rules="notesRules"
      :counter="notesLimit"
      label="Notes"
      rows="2"
      auto-grow
      @change="foe.$update({ notes: $event })"
    />
  </form>
</template>

<script>
import Foe from '@/models/Foe';
import Tag from '@/models/Tag';
import nameRules, { nameLimit } from '@/validation/name';
import notesRules, { notesLimit } from '@/validation/notes';
import updateTags from '@/common/updateTags';

export default {
  props: {
    foe: {
      type: Foe,
      required: true,
    },
  },

  data() {
    return {
      nameLimit,
      nameRules,
      notesLimit,
      notesRules,
      crs: [
        0, 0.125, 0.25, 0.5,
        ...Array(30).fill().map((_, idx) => 1 + idx),
      ].map(cr => ({ text: Foe.crToText(cr), value: cr })),
    };
  },

  computed: {
    tags() {
      return Tag.query().orderBy('value').get();
    },
  },

  methods: {
    updateTags,
  },
};
</script>
