<template>
  <form class="edit-encounter">
    <v-text-field
      :value="encounter.name"
      :rules="nameRules"
      :counter="nameLimit"
      label="Name"
      required
      clearable
      @change="encounter.$update({ name: $event })"
    />
    <v-combobox
      :value="encounter.tags"
      :items="tags"
      label="Tags"
      multiple
      small-chips
      deletable-chips
      hide-selected
      class="edit-encounter__edit-tags"
      @change="updateTags(encounter, $event)"
    />
    <v-autocomplete
      v-model="foe"
      :items="unselectedFoes"
      item-text="name"
      return-object
      label="Add Foes"
      dense
      hide-details
      append-outer-icon="add"
      class="edit-encounter__add-foes"
      @click:append-outer="addFoe(foe)"
    />
    <v-list
      v-if="encounter.foes && encounter.foes.length"
      class="edit-encounter__foes"
    >
      <v-subheader>Foes</v-subheader>
      <v-list-item
        v-for="foe in encounter.foes"
        :key="foe.id"
      >
        <v-list-item-content>
          <div>
            <v-btn
              :disabled="encounter.foeCount(foe) <= 1"
              icon
              small
              @click="encounter.decrementFoe(foe)"
            >
              <v-icon>remove</v-icon>
            </v-btn>
            {{ encounter.foeCount(foe) }}
            <v-btn
              :disabled="encounter.foeCount(foe) >= 100"
              icon
              small
              @click="encounter.incrementFoe(foe)"
            >
              <v-icon>add</v-icon>
            </v-btn>
            {{ foe.name }}
          </div>
        </v-list-item-content>
        <v-list-item-action>
          <v-checkbox
            :input-value="encounter.isAlly(foe)"
            hide-details
            label="Ally"
            @change="encounter.toggleAlly(foe)"
          />
        </v-list-item-action>
        <v-list-item-action>
          <v-btn
            icon
            @click="encounter.removeFoe(foe)"
          >
            <v-icon>delete</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-list>
    <v-textarea
      :value="encounter.notes"
      :rules="notesRules"
      :counter="notesLimit"
      label="Notes"
      rows="2"
      auto-grow
      @change="encounter.$update({ notes: $event })"
    />
  </form>
</template>

<script>
import Encounter from '@/models/Encounter';
import Foe from '@/models/Foe';
import Tag from '@/models/Tag';
import nameRules, { nameLimit } from '@/validation/name';
import notesRules, { notesLimit } from '@/validation/notes';
import updateTags from '@/common/updateTags';

export default {
  props: {
    encounter: {
      type: Encounter,
      required: true,
    },
  },

  data() {
    return {
      foe: undefined,
      nameLimit,
      nameRules,
      notesLimit,
      notesRules,
    };
  },

  computed: {
    unselectedFoes() {
      const selectedFoes = this.encounter.foes;
      let query = Foe.query();
      if (selectedFoes.length) {
        query = query.where(foe => !selectedFoes.find(sf => sf.id === foe.id));
      }
      return query.orderBy('name').get();
    },

    tags() {
      return Tag.query().orderBy('value').get();
    },
  },

  methods: {
    updateTags,

    addFoe(foe) {
      this.encounter.addFoe(foe);
      this.foe = undefined;
    },
  },
};
</script>

<style lang="scss">
.edit-encounter {
  &__foes {
    .v-subheader {
      padding-left: 4px;
    }

    .v-list__tile {
      padding-left: 0px;

      &:hover {
        background-color: #F5F5F5;
      }
    }
  }
}
</style>
