<template>
  <div class="encounters pb-6">
    <h2 class="text-h4 primary--text">
      <p>Encounters</p>
    </h2>
    <v-container class="pt-0">
      <v-row justify="center">
        <v-col cols="8">
          <v-text-field
            v-model="search"
            label="Search"
            prepend-inner-icon="search"
            hide-details
            solo
          />
        </v-col>
      </v-row>
    </v-container>
    <v-container
      fluid
      class="pa-0 pb-12"
    >
      <v-row>
        <v-col
          v-for="encounter in encounters"
          :key="encounter.id"
          cols="12"
          md="6"
          lg="4"
          xl="3"
        >
          <v-card
            class="encounters__encounter-card"
            hover
          >
            <v-card-title class="py-1 pr-1 blue-grey white--text">
              <div>
                <div class="text-h6 text-truncate">
                  {{ encounter.name }}
                </div>
                <div class="text-subtitle-1">
                  Difficulty:
                  <span class="text-capitalize">{{ encounter.difficulty }}</span>
                </div>
              </div>
              <v-spacer />
              <v-menu
                bottom
                left
              >
                <template #activator="{ on }">
                  <v-btn
                    dark
                    icon
                    v-on="on"
                  >
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                </template>
                <v-list dense>
                  <v-list-item
                    @click="deleteEncounter(encounter)"
                  >
                    <v-list-item-content>
                      <v-list-item-title>Delete</v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action class="">
                      <v-icon>delete</v-icon>
                    </v-list-item-action>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-card-title>
            <v-card-text class="pt-4">
              <p v-if="encounter.tags">
                Tags: {{ encounter.tags.map(tag => tag.text).join(', ') }}
              </p>
              <p>
                {{ encounter.enemyTotal }}
                {{ encounter.enemyTotal === 1 ? 'Foe' : 'Foes' }},
                XP: {{ encounter.xp }},
                Adjusted: {{ encounter.xpAdjusted }}
              </p>
              <p
                v-if="encounter.notes"
                class="text-truncate"
              >
                {{ encounter.notes }}
              </p>
            </v-card-text>
            <v-spacer />
            <v-card-actions>
              <router-link
                :to="{ name: 'encounter', params: { id: encounter.id } }"
                style="text-decoration: none;"
              >
                <v-btn icon>
                  <v-icon>play_circle_outline</v-icon>
                </v-btn>
              </router-link>
              <v-spacer />
              <v-dialog
                v-model="editing[encounter.id]"
                width="80%"
                max-width="800px"
              >
                <template #activator="{ on }">
                  <v-btn
                    icon
                    v-on="on"
                  >
                    <v-icon>edit</v-icon>
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h6">Edit Encounter</span>
                  </v-card-title>
                  <v-card-text>
                    <edit-encounter :encounter="encounter" />
                  </v-card-text>
                  <v-card-actions>
                    <span class="px-2">
                      {{ encounter.enemyTotal }}
                      {{ encounter.enemyTotal === 1 ? 'Foe' : 'Foes' }},
                      XP: {{ encounter.xp }},
                      Adjusted: {{ encounter.xpAdjusted }},
                      Difficulty: <span class="text-capitalize">{{ encounter.difficulty }}</span>
                    </span>
                    <v-spacer />
                    <v-btn
                      text
                      @click="editing[encounter.id] = false"
                    >
                      Close
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-btn
      color="amber darken-2"
      fixed
      bottom
      right
      fab
      @click="addEncounter()"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </div>
</template>

<script>
import EditEncounter from '@/components/encounters/EditEncounter.vue';
import Encounter from '@/models/Encounter';
import EncounterTag from '@/models/EncounterTag';
import EncounterFoe from '@/models/EncounterFoe';
import EncounterRun from '@/models/EncounterRun';
import EncounterRunFoe from '@/models/EncounterRunFoe';

export default {
  components: {
    EditEncounter,
  },

  data() {
    return {
      search: '',
      foe: undefined,
      editing: {},
    };
  },

  computed: {
    encounters() {
      let query = Encounter.query().with('tags|foes');
      const search = this.search.toLowerCase();
      if (search) {
        query = query
          .where('name', name => name.toLowerCase().includes(search))
          .orWhere('notes', notes => notes.toLowerCase().includes(search))
          .orWhere('id', id => !!EncounterTag.find(`${id}_${search}`));
      }
      return query.orderBy('order').get();
    },
  },

  methods: {
    addEncounter(name = 'A New Encounter') {
      Encounter.insert({
        data: {
          name,
          order: Encounter.query().count() + 1,
          foes: [],
          tags: [],
        },
      });
    },

    deleteEncounter(encounter) {
      EncounterTag.delete(et => et.encounter_id === encounter.id);
      EncounterFoe.delete(ef => ef.encounter_id === encounter.id);
      const run = EncounterRun.query().where('encounter_id', encounter.id).first();
      if (run) {
        EncounterRunFoe.delete(erf => erf.encounter_run_id === run.id);
        run.$delete();
      }
      encounter.$delete();
    },
  },
};
</script>

<style lang="scss">
.encounters {
  &__encounter-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
</style>
