<template>
  <div
    v-if="encounter"
    class="encounter pb-6"
  >
    <h2 class="text-h4 primary--text">
      <p>{{ encounter.name }}</p>
    </h2>
    <h3 class="text-h5">
      <span class="text-capitalize">{{ encounter.difficulty }}</span> |
      {{ encounter.xp }} XP
    </h3>
    <p
      v-if="encounter.tags"
      class="encounter__tags"
    >
      Tags: {{ encounter.tags.map(tag => tag.text).join(', ') }}
    </p>
    <p v-if="encounter.notes">
      {{ encounter.notes }}
    </p>
    <v-row>
      <v-col>
        <v-btn
          class="encounter__reset-foes"
          @click="reset()"
        >
          Reset Foes
        </v-btn>
        <v-btn
          class="encounter__roll-foe-init ml-4"
          @click="updateFoeInitatives()"
        >
          Roll Foe Init
        </v-btn>
        <v-btn
          class="encounter__reveal-foes ml-4"
          @click="revealAllFoes()"
        >
          Reveal All Foes
        </v-btn>
      </v-col>
      <v-col cols="auto">
        <v-btn
          :disabled="!numCombatants"
          class="encounter__next-turn"
          @click="updateNextTurn()"
        >
          Next Turn
        </v-btn>
      </v-col>
    </v-row>
    <v-list dense>
      <v-list-item
        v-for="(combatant, index) in combatants"
        :key="combatant.key"
        :class="{
          'green accent-1': turn === index,
          'amber lighten-4': nextTurn === index,
        }"
        class="encounter__combatant"
      >
        <v-list-item-action
          v-if="combatant.trackHitPoints"
          class="my-1 mr-2"
        >
          <hit-point-field
            :value="combatant.hitPoints"
            :max="combatant.maxHitPoints"
            @change="combatant.$update({ hitPoints: $event })"
          />
        </v-list-item-action>
        <v-list-item-content>
          <v-container
            class="py-0"
            fluid
          >
            <v-row
              class="fill-height"
              align="center"
              justify="space-between"
            >
              <v-col class="py-0">
                <v-dialog
                  v-if="firstFoeInGroup(combatant, index)"
                  v-model="viewingFoe[combatant.id]"
                  width="80%"
                  max-width="800px"
                >
                  <template #activator="{ on }">
                    <v-btn
                      icon
                      v-on="on"
                    >
                      <v-icon>folder_open</v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="text-h6">{{ combatant.name }}</span>
                      <span
                        d-inline-block
                        class="text-subtitle-1 ml-1"
                      >
                        ({{ run.foeCount(combatant.foe, true) }} Living)
                      </span>
                    </v-card-title>
                    <v-card-text>
                      <p>CR: {{ combatant.crText }} &nbsp; AC: {{ combatant.armorClass }}</p>
                      <p v-if="combatant.foe.tags && combatant.foe.tags.length">
                        Tags: {{ combatant.foe.tags.map(tag => tag.text).join(', ') }}
                      </p>
                      <p v-if="combatant.foe.notes">
                        <pre style="white-space: pre-wrap;">{{ combatant.foe.notes }}</pre>
                      </p>
                    </v-card-text>
                    <v-card-actions>
                      <v-switch
                        :input-value="combatant.hidden"
                        :label="combatant.hidden ? 'Hidden' : 'Revealed'"
                        class="mt-0 pt-0"
                        hide-details
                        @change="combatant.$update({ hidden: $event })"
                      />
                      <v-spacer />
                      <v-btn
                        text
                        @click="viewingFoe[combatant.id] = false"
                      >
                        Close
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <span
                  :class="{
                    'encounter__combatant-name--dead': combatant.isDead(),
                    'font-weight-bold': turn === index,
                  }"
                  class="encounter__combatant-name"
                >
                  <span v-if="encounter.isAlly(combatant.foe)">(Ally)</span>
                  {{ combatant.name }}
                </span>
              </v-col>
              <v-col
                v-if="firstFoeInGroup(combatant, index)"
                cols="1"
                class="py-0"
              >
                <v-icon>{{ combatant.hidden ? 'visibility_off' : 'visibility' }}</v-icon>
              </v-col>
              <v-col
                v-if="combatant.armorClass"
                class="py-0 hidden-xs-only"
                sm="2"
                md="1"
              >
                AC:&nbsp;{{ combatant.armorClass }}
              </v-col>
              <v-col class="encounter__notes py-0">
                <v-text-field
                  :value="combatant.notes"
                  class="pt-0"
                  label="Notes"
                  hide-details
                  single-line
                  @change="combatant.$update({ notes: $event })"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-list-item-content>
        <v-list-item-action class="my-1 ml-2">
          <initiative-field
            :value="combatant.initiative"
            :mod="combatant.initModDisplay"
            @change="updateInitative($event, combatant)"
          />
        </v-list-item-action>
      </v-list-item>
    </v-list>
    <v-row>
      <v-col>
        <v-btn
          class="encounter__reset-all"
          @click="resetAll()"
        >
          Reset All
        </v-btn>
      </v-col>
      <v-col cols="auto">
        <v-btn
          :disabled="!numCombatants"
          class="encounter__next-turn"
          @click="updateNextTurn()"
        >
          Next Turn
        </v-btn>
      </v-col>
    </v-row>
    <v-dialog
      v-model="editing"
      width="80%"
      max-width="800px"
    >
      <template #activator="{ on }">
        <v-btn
          color="amber darken-2"
          fixed
          bottom
          right
          fab
          v-on="on"
        >
          <v-icon>edit</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h6">Edit Encounter</span>
        </v-card-title>
        <v-card-text>
          <edit-encounter :encounter="encounter" />
        </v-card-text>
        <v-card-actions>
          <span class="px-2">
            {{ encounter.enemyTotal }}
            {{ encounter.enemyTotal === 1 ? 'Foe' : 'Foes' }},
            XP: {{ encounter.xp }},
            Adjusted: {{ encounter.xpAdjusted }},
            Difficulty: <span class="text-capitalize">{{ encounter.difficulty }}</span>
          </span>
          <v-spacer />
          <v-btn
            text
            @click="editing = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import Encounter from '../models/Encounter';
import EncounterRunFoe from '../models/EncounterRunFoe';
import Member from '../models/Member';
import HitPointField from '../components/HitPointField.vue';
import InitiativeField from '../components/InitiativeField.vue';
import EditEncounter from '../components/encounters/EditEncounter.vue';

export default {
  components: {
    HitPointField,
    InitiativeField,
    EditEncounter,
  },

  props: {
    id: {
      type: [Number, String],
      required: true,
    },
  },

  data() {
    return {
      viewingFoe: {},
      editing: false,
    };
  },

  computed: {
    encounter() {
      return Encounter.query()
        .withAllRecursive()
        .whereId(+this.id).first();
    },

    run() {
      return (this.encounter || {}).run || {};
    },

    combatants() {
      const { run } = this;
      return run.combatants ? run.combatants() : [];
    },

    numCombatants() {
      return this.combatants && this.combatants.length;
    },

    turn() {
      return this.run.turn;
    },

    nextTurn() {
      return this.run.nextTurn;
    },
  },

  watch: {
    run(run) {
      if (run && run.id) {
        this.runEncounter(run.id);
      }
    },
  },

  mounted() {
    if (this.encounter) {
      this.encounter.updateRun();
    }
  },

  updated() {
    if (this.encounter) {
      this.encounter.updateRun();
    }
  },

  methods: {
    ...mapMutations('peer', ['runEncounter']),

    reset() {
      const { encounter } = this;
      const { run } = encounter;
      if (run) {
        EncounterRunFoe.delete(erf => erf.encounter_run_id === run.id);
        run.$delete();
        encounter.run = null;
      }
      encounter.updateRun();
    },

    resetAll() {
      this.reset();
      Member.update({
        where: () => true,
        data: { initiative: 0 },
      });
    },

    updateInitative(newInit, combatant) {
      if (combatant instanceof EncounterRunFoe) {
        this.updateFoeInitative(newInit, combatant.foe_id, combatant.id);
      } else {
        combatant.$update({ initiative: newInit });
      }
    },

    updateFoeInitative(newInit, foeId, erfId) {
      const { run: { id: runId } } = this;
      EncounterRunFoe.update({
        where: record => (
          record.id === erfId || (
            record.initiative === null &&
            record.encounter_run_id === runId &&
            record.foe_id === foeId
          )
        ),
        data: { initiative: newInit },
      });
    },

    updateFoeInitatives() {
      this.encounter.foes.forEach((foe) => {
        this.updateFoeInitative(foe.rollInitiative(), foe.id);
      });
    },

    revealAllFoes() {
      const { run: { id: runId } } = this;
      EncounterRunFoe.update({
        where: record => record.encounter_run_id === runId,
        data: { hidden: false },
      });
    },

    firstFoeInGroup(combatant, index) {
      return combatant.foe && (
        index === 0 ||
        !combatant.isGroupedWith(this.combatants[index - 1])
      );
    },

    updateNextTurn() {
      this.run.updateNextTurn(this.nextTurn);
    },
  },
};
</script>

<style lang="scss">
.encounter {
  &__combatant {
    &-name {
      &--dead {
        text-decoration: line-through;
      }
    }
  }

  &__notes {
    flex: 0 0 250px;
  }
}
</style>
