<template>
  <div class="foes pb-6">
    <h2 class="text-h4 primary--text">
      <p>Foes</p>
    </h2>
    <v-container class="pt-0">
      <v-row justify="center">
        <v-col cols="8">
          <v-text-field
            v-model="search"
            label="Search"
            prepend-inner-icon="search"
            hide-details
            solo
          />
        </v-col>
      </v-row>
    </v-container>
    <v-expansion-panels
      class="party__list pb-12"
      popout
    >
      <v-expansion-panel
        v-for="foe in foes"
        :key="foe.id"
      >
        <v-expansion-panel-header>{{ foe.crText }} - {{ foe.name }}</v-expansion-panel-header>
        <v-expansion-panel-content>
          <edit-foe :foe="foe" />
          <v-row>
            <v-col>
              <v-btn
                @click="copyFoe(foe)"
              >
                Duplicate
              </v-btn>
            </v-col>
            <v-col cols="auto">
              <v-btn
                icon
                @click="deleteFoe(foe)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-btn
      color="amber darken-2"
      fixed
      bottom
      right
      fab
      @click="addFoe()"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </div>
</template>

<script>
import EditFoe from '@/components/foes/EditFoe.vue';
import Foe from '@/models/Foe';
import FoeTag from '@/models/FoeTag';

export default {
  components: {
    EditFoe,
  },

  data() {
    return {
      search: '',
    };
  },

  computed: {
    foes() {
      let query = Foe.query().with('tags');
      const search = this.search.toLowerCase();
      if (search) {
        query = query
          .where('name', name => name.toLowerCase().includes(search))
          .orWhere('notes', notes => notes.toLowerCase().includes(search))
          .orWhere('cr', cr => Foe.crToText(cr) === search)
          .orWhere('id', id => !!FoeTag.find(`${id}_${search}`));
      }
      return query.orderBy('cr').orderBy('name').get();
    },
  },

  methods: {
    addFoe() {
      Foe.insert({ data: { name: 'A New Foe' } });
    },

    copyFoe(foe) {
      const copy = { ...foe };
      delete copy.$id;
      delete copy.id;
      copy.name = `${copy.name} (duplicate)`;

      Foe.insert({
        data: copy,
      });
    },

    deleteFoe(foe) {
      FoeTag.delete(ft => ft.foe_id === foe.id);
      foe.$delete();
    },
  },
};
</script>

<style>
/* Fix background of scrollable select menu */
.v-menu__content.theme--light {
  background-color: #fff;
}
</style>
