<template>
  <div class="import-export">
    <h2 class="text-h4 primary--text">
      <p>Import</p>
    </h2>
    <form class="mb-12">
      <input
        ref="importFile"
        type="file"
        class="ma-2"
        @change="importFileChanged()"
      >
      <br>
      <div class="ma-2 amber--text text--darken-4">
        Warning! Import will overwrite all existing data!
      </div>
      <v-btn
        :disabled="!fileSelected || importing"
        color="warning"
        class="import-export__import-data"
        @click="importData()"
      >
        Import Data
      </v-btn>
    </form>
    <h2 class="text-h2">
      <p>Export</p>
    </h2>
    <form>
      <v-btn
        color="info"
        class="import-export__export-data"
        @click="exportData()"
      >
        Export Data
      </v-btn>
    </form>
  </div>
</template>

<script>
import localForage from 'localforage';
import { saveAs } from 'file-saver';

export default {
  data() {
    return {
      fileSelected: false,
      importing: false,
    };
  },

  methods: {
    // eslint-disable-next-line
    importFileChanged /* istanbul ignore next */ () {
      this.fileSelected = this.$refs.importFile.files.length;
    },

    importData() {
      const fileList = this.$refs.importFile.files;
      if (fileList.length) {
        const file = fileList[0];
        const reader = new FileReader();

        const reset = () => {
          this.importing = false;
        };

        reader.onerror = reset;

        reader.onload = () => {
          const importedEntities = JSON.parse(reader.result);
          localForage.getItem('vuex').then((data) => {
            const updatedData = {
              ...data,
              entities: importedEntities,
            };
            return localForage.setItem('vuex', updatedData).then(() => {
              window.location.reload();
            });
          }).catch(reset);
        };

        this.importing = true;
        reader.readAsText(file);
      }
    },

    exportData() {
      localForage.getItem('vuex').then(({ entities }) => {
        if (entities) {
          const json = JSON.stringify(entities, null, 2);
          const blob = new Blob([json], { type: 'application/json' });
          saveAs(blob, `encounter-assist_${this.getDateTime()}.json`);
        }
      });
    },

    getDateTime() {
      const ONE_SECOND = 1000;
      const now = new Date();
      const today = new Date(Math.round(now.getTime() / ONE_SECOND) * ONE_SECOND);
      return today.toISOString().replace(/[-:]/g, '').replace(/\.[0-9]{3}Z$/, '');
    },
  },
};
</script>
