<template>
  <div class="initiative">
    <h2 class="text-h4 primary--text">
      <p>Initiative Tracker</p>
    </h2>
    <v-row>
      <v-col>
        <span
          v-if="!connectionOpen"
          class="text-subtitle-1"
        >Attempting to connect to DM...</span>
        <span
          v-else-if="!numCombatants"
          class="text-subtitle-1"
        >Waiting for DM to start an encounter...</span>
      </v-col>
      <v-col cols="auto">
        <v-btn
          :disabled="nextTurnDisabled"
          @click="updateNextTurn()"
        >
          Next Turn
        </v-btn>
      </v-col>
    </v-row>
    <v-list
      v-if="numCombatants"
      :class="{ 'grey lighten-1': !connectionOpen }"
      dense
    >
      <template
        v-for="(combatant, index) in combatants"
      >
        <v-list-item
          v-if="showCombatant(combatant, index)"
          :key="combatant.key"
          :class="{
            'green accent-1': isCurrentTurn(combatant, index),
            'amber lighten-4': isNextTurn(combatant, index),
          }"
          class="initiative__combatant"
        >
          <v-list-item-content>
            <span
              :class="{
                'initiative__combatant-name--dead': combatant.isDead(),
                'font-weight-bold': isCurrentTurn(combatant, index),
                'font-italic': combatant.hidden,
              }"
              class="initiative__combatant-name"
            >
              {{ combatant.hidden ? 'Hidden by DM' : combatant.name }}
            </span>
          </v-list-item-content>
          <v-list-item-action class="my-1 ml-2">
            <initiative-field
              v-if="combatant.level"
              :value="combatant.initiative"
              :disabled="!connectionOpen"
              mod=""
              class="initiative__initiative-field"
              @change="updateMemberInitiative($event, combatant)"
            />
            <span v-if="combatant.foe">Init {{ combatant.initiative }}</span>
          </v-list-item-action>
        </v-list-item>
      </template>
    </v-list>
    <v-row v-if="numCombatants">
      <v-spacer />
      <v-col cols="auto">
        <v-btn
          :disabled="nextTurnDisabled"
          @click="updateNextTurn()"
        >
          Next Turn
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import InitiativeField from '../components/InitiativeField.vue';

export default {
  components: {
    InitiativeField,
  },

  computed: {
    ...mapState('initiative', ['connection', 'turn', 'nextTurn']),
    ...mapGetters('initiative', ['combatants']),

    nextTurnDisabled() {
      return !this.numCombatants || !this.connectionOpen ||
        (this.turn !== null && !!this.combatants[this.turn].foe_id);
    },

    numCombatants() {
      return this.combatants && this.combatants.length;
    },

    connectionOpen() {
      return this.connection && this.connection.open;
    },
  },

  methods: {
    updateNextTurn() {
      this.connection.send({
        type: 'updateNextTurn',
      });
    },

    updateMemberInitiative(newInit, member) {
      this.connection.send({
        type: 'updateMemberInitiative',
        initiative: newInit,
        where: member.id,
      });
    },

    showCombatant(combatant, index) {
      if (combatant.level || index === 0) {
        return true;
      }

      return !this.inFoeGroup(combatant, this.combatants[index - 1]);
    },

    inFoeGroup(a, b) {
      return a.isGroupedWith && a.isGroupedWith(b);
    },

    isCurrentTurn(combatant, index) {
      const { turn } = this;
      if (!Number.isInteger(turn) || !this.connectionOpen) {
        return false;
      }

      if (turn === index) {
        return true;
      }

      const currentCombatant = this.combatants[turn];
      return turn === index || this.inFoeGroup(combatant, currentCombatant);
    },

    isNextTurn(combatant, index) {
      const { turn, nextTurn } = this;
      if (!Number.isInteger(nextTurn) || !this.connectionOpen) {
        return false;
      }

      if (nextTurn === index) {
        return true;
      }

      const currentCombatant = this.combatants[turn];
      const prevIndex = index === 0 ? this.numCombatants - 1 : index - 1;
      const beforeMe = this.combatants[prevIndex];
      return this.inFoeGroup(currentCombatant, beforeMe);
    },
  },
};
</script>

<style lang="scss">
.initiative {
  &__combatant-name {
    &--dead {
      text-decoration: line-through;
    }
  }

  &__initiative-field {
    max-width: 100px;
    width: 20vw;
  }
}
</style>
