<template>
  <div class="party pb-6">
    <h2 class="text-h4 primary--text">
      <p>Party</p>
    </h2>
    <v-expansion-panels
      class="party__list pb-12"
      popout
    >
      <v-expansion-panel
        v-for="member in members"
        :key="member.id"
      >
        <v-expansion-panel-header
          :class="{ 'grey--text': !member.present }"
        >
          {{ member.level }} - {{ member.name }}
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <edit-member :member="member" />
          <v-row>
            <v-spacer />
            <v-col cols="auto">
              <v-btn
                icon
                @click="member.$delete()"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-btn
      color="amber darken-2"
      fixed
      bottom
      right
      fab
      @click="addMember()"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </div>
</template>

<script>
import EditMember from '@/components/members/EditMember.vue';
import Member from '@/models/Member';

export default {
  components: {
    EditMember,
  },

  computed: {
    members() {
      return Member.query().orderBy('name').get();
    },
  },

  methods: {
    addMember() {
      Member.insert({ data: { name: 'A New Character' } });
    },
  },
};
</script>
