<template>
  <v-text-field
    :value="value"
    :suffix="`/${max}`"
    class="hit-point-field"
    prefix="HP"
    outlined
    @change="emitChange($event)"
  />
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'change',
  },

  props: {
    value: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: 0,
    },
  },

  methods: {
    emitChange(value) {
      let newValue;
      if (Number.isNaN(+value) || !Number.isFinite(+value)) {
        newValue = this.value;
      } else if (/^[-+]/.test(value)) {
        newValue = this.value + Math.floor(+value);
      } else if (!value) {
        newValue = this.max;
      } else {
        newValue = Math.floor(+value);
      }
      this.$emit('change', newValue);
    },
  },
};
</script>

<style lang="scss">
.hit-point-field {
  width: 110px;

  .v-text-field__prefix {
    width: auto;
  }

  &.v-text-field--outlined {
    .v-input__slot {
      min-height: 40px;
      padding: 0 6px;
    }

    .v-text-field__details {
      display: none;
    }

    input {
      align-self: center;
      margin-top: 0;
    }
  }
}
</style>
