<template>
  <div>
    <v-list
      class="grey lighten-4"
      dense
    >
      <v-list-item
        v-if="running"
        :to="{ name: 'encounter', params: { id: running.id } }"
      >
        <v-list-item-action>
          <v-icon>play_circle_outline</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>{{ running.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item :to="{ name: 'encounters' }">
        <v-list-item-action>
          <v-icon>view_module</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Encounters</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item :to="{ name: 'foes' }">
        <v-list-item-action>
          <v-icon>contacts</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Foes</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item :to="{ name: 'party' }">
        <v-list-item-action>
          <v-icon>people</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Party</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-divider />
    <party-toggles />
    <v-divider />
    <party-thresholds />
    <v-divider />
    <v-list
      class="grey lighten-4"
      dense
    >
      <v-list-item :to="{ name: 'import_export' }">
        <v-list-item-content>
          <v-list-item-title>Import/Export</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-divider />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import PartyToggles from './PartyToggles.vue';
import PartyThresholds from './PartyThresholds.vue';
import Encounter from '../models/Encounter';
import EncounterRun from '../models/EncounterRun';

export default {
  components: {
    PartyToggles,
    PartyThresholds,
  },

  computed: {
    ...mapState('peer', ['encounterRunId']),

    run() {
      return EncounterRun.find(this.encounterRunId);
    },

    running() {
      return this.run ? Encounter.find(this.run.encounter_id) : null;
    },
  },
};
</script>
