<template>
  <v-text-field
    :value="value"
    :suffix="mod !== '' ? `(${mod})` : undefined"
    :disabled="disabled"
    :rules="rules"
    class="initiative-field"
    prefix="Init"
    outlined
    @change="$emit('change', $event)"
  />
</template>

<script>
import rules from '../validation/initiative';

export default {
  model: {
    prop: 'value',
    event: 'change',
  },

  props: {
    value: {
      type: Number,
      default: 0,
    },
    mod: {
      type: String,
      default: '+0',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      rules,
    };
  },
};
</script>

<style lang="scss">
.initiative-field {
  width: 100px;
  flex-shrink: 0;

  .v-text-field__prefix {
    width: auto;
  }

  &.v-text-field--outlined {
    .v-input__slot {
      min-height: 40px;
      padding: 0 6px;
    }

    .v-text-field__details {
      display: none;
    }

    input {
      align-self: center;
      margin-top: 0;
    }
  }
}
</style>
