<template>
  <v-list
    v-if="members.length"
    class="party-toggles grey lighten-4"
    dense
  >
    <v-list-item
      v-for="member in members"
      :key="member.id"
    >
      <v-list-item-content>
        <v-list-item-title
          :class="{ 'grey--text': !member.present }"
          class="text-truncate"
        >
          {{ member.name }}
        </v-list-item-title>
      </v-list-item-content>
      <v-list-item-action class="my-2">
        <v-switch
          :input-value="member.present"
          class="party-toggles__switch"
          hide-details
          @change="member.$update({ present: $event })"
        />
      </v-list-item-action>
    </v-list-item>
  </v-list>
</template>

<script>
import Member from '../models/Member';

export default {
  computed: {
    members() {
      return Member.all();
    },
  },
};
</script>

<style lang="scss">
.party-toggles {
  &__switch {
    flex: 0 1 auto;

    .v-input--selection-controls__input {
      margin: 0;
    }
  }
}
</style>
