<template>
  <v-list
    class="grey lighten-4"
    dense
  >
    <v-subheader class="text-subtitle-1">
      Party XP Thresholds
    </v-subheader>
    <v-list-item
      v-for="(threshold, difficulty) in partyThesholds"
      :key="difficulty"
    >
      <v-list-item-content>
        <v-list-item-title class="text-capitalize">
          {{ difficulty }}: {{ threshold }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>Adventuring Day: {{ partyAdventuringDay }}</v-list-item-title>
        <v-list-item-subtitle>One Third: {{ partyAdventuringDayThird }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
import Member from '../models/Member';

export default {
  data() {
    return {
      thresholds: Member.thresholds,
      adventuringDay: Member.adventuringDay,
    };
  },

  computed: {
    presentMembers() {
      return Member.party();
    },

    partyThesholds() {
      return Member.partyThesholds();
    },

    partyAdventuringDay() {
      return Member.partyAdventuringDay();
    },

    partyAdventuringDayThird() {
      return Member.partyAdventuringDayThird();
    },
  },
};
</script>
