<template>
  <div class="peer-connection">
    <v-list dense>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>{{ connectionIcon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Connection</v-list-item-title>
          <v-list-item-subtitle class="text-capitalize">
            {{ connectionStatus }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="hostConnected">
        <v-list-item-icon>
          <v-icon>link</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            <router-link
              :to="initiativeRoute"
              target="_blank"
            >
              {{ peerId }}
            </router-link>
            <v-tooltip
              v-model="copied"
              left
            >
              <template #activator="{ on }">
                <span
                  ref="initiativeUrl"
                  class="peer-connection__hidden-url"
                  aria-hidden
                  v-on="on"
                >{{ initiativeUrl }}</span>
              </template>
              <span>Link Copied!</span>
            </v-tooltip>
          </v-list-item-title>
        </v-list-item-content>
        <v-list-item-action
          v-if="copySupported"
          class="my-0"
        >
          <v-btn
            icon
            @click="copyLink()"
          >
            <v-icon>share</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
import Peer from 'peerjs';
import { mapState, mapMutations } from 'vuex';
import EncounterRun from '../models/EncounterRun';
import Member from '../models/Member';

const debug = 3;

function log(...args) {
  if (debug) {
    console.log(...args); // eslint-disable-line no-console
  }
}

function dir(...args) {
  if (debug) {
    console.dir(...args); // eslint-disable-line no-console
  }
}

export default {
  props: {
    host: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      connectionStatus: 'disconnected',
      peer: undefined,
      hostId: undefined,
      connections: [],
      copied: false,
    };
  },

  computed: {
    ...mapState('peer', ['peerId', 'encounterRunId']),
    ...mapState('initiative', ['connection']),

    connectionIcon() {
      return {
        awaiting: 'cloud_queue',
        connecting: 'cloud_download',
        connected: 'cloud_done',
      }[this.connectionStatus] || 'cloud_off';
    },

    hostConnected() {
      const { host, peerId, peer } = this;
      return host && peerId && peer && !peer.disconnected && !peer.destroyed;
    },

    openConnections() {
      return this.connections.filter(connection => connection.open);
    },

    initiativeRoute() {
      return { name: 'initiative', params: { hostId: this.peerId } };
    },

    initiativeUrl() {
      const { href } = this.$router.resolve(this.initiativeRoute);
      const { origin, pathname } = window.location;
      return origin + pathname.replace('index.html', '') + href;
    },

    run() {
      return EncounterRun.query()
        .withAllRecursive()
        .whereId(this.encounterRunId).first();
    },

    combatants() {
      return (this.run && this.run.combatants()) || [];
    },

    turn() {
      return this.run && this.run.turn;
    },

    copySupported() {
      return (navigator.clipboard && navigator.clipboard.writeText) ||
        document.queryCommandSupported('copy');
    },
  },

  watch: {
    combatants: {
      deep: true,
      immediate: true,
      handler(combatants) {
        this.sendCombatants(combatants);
      },
    },

    turn: {
      immediate: true,
      handler() {
        this.sendTurn();
      },
    },
  },

  mounted() {
    setTimeout(() => {
      this.initPeer();
    }, this.host ? 2000 : 0);
  },

  destroyed() {
    if (this.connection) {
      this.connection.close();
    }
    this.connections.forEach(connection => connection.close());
  },

  methods: {
    ...mapMutations('peer', ['setPeerId']),
    ...mapMutations('initiative', [
      'setConnection',
      'updateCombatants',
      'updateTurn',
    ]),

    initPeer() {
      const peerId = this.host ? this.peerId : undefined;
      log(`initPeer: ${peerId}`);
      const peer = new Peer(peerId, {
        host: 'home.donovan.mn',
        port: 9000,
        secure: true,
        config: {
          iceServers: [
            { urls: 'stun:stun.l.google.com:19302' },
          ],
        },
        debug,
      });
      this.peer = peer;

      peer.on('open', (id) => {
        log(`peer open ${id}`);
        if (this.host) {
          this.setPeerId(id);
          if (id) {
            this.connectionStatus = 'awaiting';
          }
        }

        if (!id) {
          log(`peer falsy id: ${id}`);
          this.reconnectPeer();
        }
      });

      peer.on('error', (error) => {
        log(`peer error: ${error.type || error.message}`);
        if (this.hostId && error.type === 'peer-unavailable') {
          this.reconnectToHost();
        }
      });

      peer.on('disconnected', () => {
        log('peer disconnected');
        this.reconnectPeer();
      });

      if (this.host) {
        this.startHost(peer);
      } else if (!this.connection || !this.connection.open) {
        this.connectToHost(this.$route.params.hostId);
      }
    },

    startHost(peer) {
      peer.on('connection', (connection) => {
        this.connections.push(connection);
        this.connectionStatus = 'connected';

        connection.on('open', () => {
          this.sendCombatants(this.combatants, connection);
          this.sendTurn(connection);
        });

        connection.on('close', () => {
          log(`${connection.peer} connection closed`);
          const index = this.connections.indexOf(connection);
          this.connections.splice(index, 1);

          if (this.connections.length === 0) {
            this.connectionStatus = 'awaiting';
          }
        });

        connection.on('data', (data) => {
          if (data.type === 'updateMemberInitiative') {
            Member.updateInitiative(data.where, data.initiative);
          } else if (data.type === 'updateNextTurn') {
            this.run.updateNextTurn();
          }
        });
      });
    },

    connectToHost(hostId) {
      if (this.connection && this.connection.open) {
        this.connection.close();
      }
      this.hostId = hostId;
      if (hostId) {
        const connection = this.peer.connect(hostId, { reliable: window.util.supports.sctp });
        this.setConnection(connection);
        this.connectionStatus = 'connecting';

        connection.on('open', () => {
          this.connectionStatus = 'connected';
        });

        connection.on('close', () => {
          if (this.hostId) {
            this.reconnectToHost();
          }
        });

        connection.on('error', (error) => {
          log(`connection error: ${error.type || error.message}`);
          if (this.hostId) {
            this.reconnectToHost();
          }
        });

        connection.on('data', (data) => {
          if (data.type === 'combatants') {
            this.updateCombatants(data.combatants);
          } else if (data.type === 'turn') {
            this.updateTurn(data);
          }
        });
      }
    },

    sendCombatants(combatants = [], connections) {
      if (this.host) {
        this.sendData({
          type: 'combatants',
          combatants: combatants.map(combatant => combatant.$toJson()),
        }, connections);
      }
    },

    sendTurn(connections) {
      if (this.host) {
        this.sendData({
          type: 'turn',
          turn: this.turn,
          nextTurn: this.run && this.run.nextTurn,
        }, connections);
      }
    },

    sendData(data, connections = this.openConnections) {
      (Array.isArray(connections) ?
        connections :
        [connections]
      ).forEach((connection) => {
        connection.send(data);
      });
    },

    reconnectToHost() {
      log(`reconnect to ${this.hostId}`);
      const wasConnected = this.connectionStatus === 'connected';
      this.connectToHost(this.hostId);
      this.connectionStatus = wasConnected ? 'reconnecting' : 'disconnected';
    },

    reconnectPeer() {
      this.connectionStatus = 'disconnected';
      if (this.peer.destroyed) {
        log('peer clear peerId and reinit');
        this.setPeerId();
        this.initPeer();
      } else {
        try {
          log('peer reconnect');
          this.peer.reconnect();
        } catch (error) {
          log('peer reconnect error');
          dir(error);
        }
      }
    },

    // eslint-disable-next-line
    copyLink /* istanbul ignore next */ () {
      if (navigator.clipboard && navigator.clipboard.writeText) {
        navigator.clipboard.writeText(this.initiativeUrl).then(() => {
          this.copied = true;
          setTimeout(() => {
            this.copied = false;
          }, 2000);
        });
      } else {
        const url = this.$refs.initiativeUrl;
        const range = document.createRange();
        const selection = window.getSelection();
        range.selectNodeContents(url);
        selection.addRange(range);

        try {
          this.copied = document.execCommand('copy');
        } finally {
          setTimeout(() => {
            this.copied = false;
          }, 2000);
          if (selection.removeRange) {
            selection.removeRange(range);
          } else {
            selection.removeAllRanges();
          }
        }
      }
    },
  },
};
</script>

<style lang="scss">
.peer-connection {
  &__hidden-url {
    overflow: hidden;
    opacity: 0;
    display: inline-block;
    width: 0;
    height: 0;
    pointer-events: none;
  }
}
</style>
