<template>
  <v-snackbar
    :value="prompt"
    :timeout="-1"
    bottom
    left
  >
    This site has updated.
    <v-btn
      color="blue-grey"
      @click="triggerReload"
    >
      Reload<v-icon right>
        cached
      </v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState('reload', ['prompt']),
  },

  methods: {
    ...mapActions('reload', ['triggerReload']),
  },
};
</script>
