<template>
  <form class="edit-member">
    <v-text-field
      :value="member.name"
      :rules="nameRules"
      :counter="nameLimit"
      label="Name"
      required
      @change="member.$update({ name: $event })"
    />
    <v-slider
      :value="member.level"
      :min="1"
      :max="20"
      :thumb-size="20"
      label="Level"
      thumb-label="always"
      @change="member.$update({ level: $event })"
    />
    <v-container
      fluid
      class="pa-0"
    >
      <v-row>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            :value="member.initMod"
            label="Initiative"
            type="number"
            required
            @change="member.$update({ initMod: $event })"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-switch
            :input-value="member.present"
            :label="member.present ? 'Present' : 'Absent'"
            @change="member.$update({ present: $event })"
          />
        </v-col>
      </v-row>
    </v-container>
  </form>
</template>

<script>
import Member from '@/models/Member';
import nameRules, { nameLimit } from '@/validation/name';

export default {
  props: {
    member: {
      type: Member,
      required: true,
    },
  },

  data() {
    return {
      nameLimit,
      nameRules,
    };
  },
};
</script>
