<template>
  <v-app>
    <v-app-bar
      app
      clipped-left
      fixed
      color="blue-grey"
    >
      <v-app-bar-nav-icon
        aria-label="Toggle Navigation Drawer"
        @click.native="drawer = !drawer"
      />
      <span class="text-h6 ml-3">
        Encounter
        <span class="font-weight-light">Assist</span>
      </span>
      <v-spacer />
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
      fixed
      color="grey lighten-4"
    >
      <host-navigation v-if="hostView" />
      <peer-connection
        v-if="loaded"
        :host="hostView"
      />
    </v-navigation-drawer>

    <v-main>
      <v-container
        fluid
        class="grey lighten-4 fill-height d-block"
      >
        <router-view />
      </v-container>
    </v-main>
    <reload-prompt />
  </v-app>
</template>

<script>
import HostNavigation from './components/HostNavigation.vue';
import PeerConnection from './components/PeerConnection.vue';
import ReloadPrompt from './components/ReloadPrompt.vue';

export default {
  name: 'App',

  components: {
    HostNavigation,
    PeerConnection,
    ReloadPrompt,
  },

  data() {
    return {
      drawer: null,
      hostView: false,
      loaded: false,
    };
  },

  watch: {
    $route(to) {
      this.hostView = !to.meta.playerView;
      this.loaded = true;
    },
  },
};
</script>

<style lang="scss">
  .application {
    min-width: 320px;
  }

  .v-navigation-drawer__border {
    display: none;
  }
</style>
